CQMarqueeView.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
CQMarqueeView.xcodeproj/project.xcworkspace/xcuserdata/idealyang.xcuserdatad/UserInterfaceState.xcuserstate
CQMarqueeView.xcodeproj/xcuserdata/idealyang.xcuserdatad/xcschemes/xcschememanagement.plist
